.block{
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  22px 22px 44px #ababab, 
                -22px -22px 44px #ffffff;
    padding:25px;
    margin-bottom:20px;
}
.block.starrail {
    background-image: url('image/starrail.png');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.block.starrail>div{
    padding:25px;
}
.hidden{
    display:none;
}